.price-tour-page-wrapper {
    width: 100%;

    &-inner {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 160px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .title {
            font-size: 24px;
            color: var(--color-secondary-brand-blue);
            font-weight: 700;
            display: flex;
            justify-content: center;

            div {
                display: flex;
                flex-direction: column;
                width: fit-content;
                justify-content: center;
                align-items: center;
                gap: 8px;

                .line-1 {
                    width: 60%;
                    height: 1px;
                    background-color: var(--color-brand-blue);
                }

                .line-2 {
                    width: 100%;
                    height: 2px;
                    background-color: var(--color-brand-blue);
                }
            }


        }

        .table {
            .card {
                border: none;
            }

            .table-scroll-y-custom {
                padding: 0;
                border-radius: 10px;

                table {
                    border: 1px solid var(--color-secondary-brand-blue);
                    border-spacing: 0px;
                    overflow: hidden;


                    thead {
                        background-color: var(--color-secondary-brand-blue) !important;
                        border-radius: 0px;

                        th {
                            padding: 20px 0;
                            font-size: 14px;
                            background-color: var(--color-secondary-brand-blue);
                            color: #fff;
                        }
                    }

                    tbody {
                        tr {
                            td {
                                padding: 10px;
                                font-size: 14px;

                                .btn-see-tour {
                                    display: flex;
                                    justify-content: center;

                                    button {

                                        background-color: var(--color-secondary-brand-blue);
                                        border: none;
                                        padding: 8px 20px;
                                        border-radius: 20px;
                                        color: #fff;
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }

    }
}