.switch {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   width: 3rem;
   height: 1.6rem;
   background-color: var(--color-dark-grey);
   transition: 0.4s;
   border-radius: 2.4rem;
   position: relative;
   cursor: pointer;
      
   &::before {
      content: "";
      width: 1.2rem;
      height: 1.2rem;
      position: absolute;
      top: 50%;
      left: 0.2rem;
      transform: translateY(-50%);
      background-color: var(--color-white);
      border-radius: 50%;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
   }
   &:checked::before {
      left: calc(100% - 1.4rem );
      background-position: 0;
   }
   &:checked {
      background-position: 100%;
      background-color: var(--color-brand-blue);
   }
}
.--profession-add {
   width: 40px;
   border: 1px solid #CBCBCB;
   background-color: rgb(204, 199, 199);
   &:checked {
      background-position: 100%;
      background-color: #0066FF;
   }
}